body {
  background-color: black;
  color: wheat;
  text-align: center;
  font-size: 30px;
}
.clearBtn {
  margin-top: 15px;
  border-radius: 4px;
  width: 100px;
  background-color: blueviolet;
}
ul {
  list-style: none;
}
.inputContainer {
  width: 200px;
  height: 25px;
  margin-top: 15px;
}
